/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* Colors */
:root {
	--green: #1d6154;
	--green-gray: #4a504f;
	--green-dark: #0e2f28;
	--brown: #b1663c;
	--gray: #b3b3b3;
	--alert: #d65353;
	--box-shadow-color: rgba(0, 0, 0, 0.09);
}

/* General Styles */
body {
	max-width: 1140px;
	margin: 0 auto;
	font-family: 'Work Sans';
	font-size: 14px;
	line-height: 1;
	background-color: #fffef8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--brown);
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--green);
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: var(--brown);
}

#logout {
	display: none;
	cursor: pointer;
}

button {
	font-family: 'Syne';
}

/* Liens */
a:link,
a:visited {
	text-decoration: none;
}

a:visited {
	color: #000000;
}

a:hover,
a:active {
	color: var(--brown);
	font-weight: 900;
}

/* Edit Bar */
#edit-bar {
	display: none;
	flex-direction: row;
	align-items: center;
	position: sticky;
	background-color: #0000004b;
	color: #ffff;
}

#edit-container {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #000000;
}

.edit {
	display: none;
	align-items: center;
}

.edit-txt p a {
	color: #000000;
}

.edit-txt a:hover,
.edit-txt a:active {
	text-decoration: underline;
	color: var(--green-dark);
}

.edit-icone {
	padding-right: 8px;
}

#edit-btn {
	margin: 10px 0 10px 21px;
	padding: 11px 23px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	border: none;
	background-color: #ffff;
}

#edit-btn:hover,
#edit-btn:active {
	background-color: var(--green);
	color: #fffef8;
}

/* Introduction Section */
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}

#introduction figure {
	margin-right: 72px;
}

#introduction img {
	width: 475px;
	border-radius: 8px;
}

#intro {
	width: 444px;
	text-align: justify;
}

#introduction h2 {
	margin-bottom: 1.4em;
}

#introduction p {
	margin-bottom: 15px;
}

/* Portfolio Section */
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#projects {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.gallery {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.error-message {
	text-align: center;
	font-style: italic;
	font-size: 28px;
	color: var(--green-gray);
	padding: 30px 0;
}

.filters {
	display: flex;
	justify-content: center;
}

.btn-filters {
	color: var(--green);
	background-color: transparent;
	border: var(--green) solid 1px;
	border-radius: 60px;
	width: auto;
	min-width: 100px;
	padding: 9px;
	margin: 0 5px;
	font-size: 16px;
	font-weight: bold;
	transition: box-shadow 0.4s;
}

.btn-filters:hover,
btn-filters:focus,
btn-filters:active {
	color: white;
	background-color: var(--green);
	cursor: pointer;
}

.btn-filters:active {
	box-shadow: inset -2px 0px 6px rgba(151, 168, 158, 0.464),
		inset 2px 3px 3px rgba(28, 43, 36, 0.786);
}

.figure {
	margin-top: 51px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 20px;
}

.figure img {
	width: 100%;
}

/* Contact and Login Forms */
#contact,
#login-container {
	width: 50%;
	margin: auto;
}

#contact > *,
#login-container > * {
	text-align: center;
}

#contact h2,
#login-container h2 {
	margin-bottom: 20px;
}

#contact form,
#login-container form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login-container input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px var(--box-shadow-color);
	padding-left: 8px;
}

#contact input:focus,
#login-container input:focus {
	outline: 1px solid var(--green);
}

#contact label,
#login-container label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px var(--box-shadow-color);
}

input[type='submit'],
#btn-modal {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--green);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border: none;
	border-radius: 60px;
	cursor: pointer;
}

#btn-modal:disabled {
	background-color: #b3b3b3;
}

input[type='submit']:hover,
input[type='submit']:active,
#btn-modal:active {
	background-color: var(--green-dark);
}

#login-container {
	margin-top: 150px;
}

#password-forgotten {
	text-decoration: underline;
}

#msg-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	margin-bottom: 335px;
}

#alert-msg {
	padding-left: 8px;
	color: var(--alert);
	font-weight: 700;
}

#alert-icon {
	width: 24px;
	display: none;
}

/* Modal */
#modal {
	display: none;
	width: 100%;
	height: 100%;
}

#bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	top: 0;
}

#modal-container {
	width: 630px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffff;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 55%;
	z-index: 5;
	transform: translate(-50%, -50%);
	-webkit-box-shadow: -2px 8px 19px 14px rgba(0, 0, 0, 0.11);
	box-shadow: -2px 8px 19px 14px rgba(0, 0, 0, 0.11);
}

#content {
	padding: 0 105px 0 105px;
}

#modal-container h3 {
	display: block;
	font-size: 26px;
	font-family: 'Work Sans';
	margin: 60px 0 48px 0;
}

#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.picture-container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 12px 4px;
}

.picture-container img {
	width: 76px;
	height: 102px;
}

.edit-text {
	padding-top: 3px;
	font-size: 12px;
}

#btn-modal {
	width: 237px;
	padding: 10px 49px;
	margin: 0 0 23px 0;
}

#delete-all {
	color: var(--alert);
	margin-bottom: 48px;
	cursor: pointer;
}

#delete-all:hover,
#delete-all:active {
	font-weight: bolder;
}

#line {
	height: 1px;
	width: 420px;
	margin-top: 47px;
	margin-bottom: 37px;
	background-color: var(--gray);
}

.container-icones {
	display: flex;
	position: absolute;
	top: 15px;
	right: 7px;
}

.container-iconeM,
.container-iconeT {
	justify-content: center;
	align-items: center;
	width: 17px;
	height: 17px;
	background-color: #000000;
	border-radius: 2px;
	padding: 3px;
	margin: 1.5px;
}

.container-iconeT {
	display: flex;
}

.move-icone,
.trash-icone {
	color: #ffff;
}

.container-iconeM:hover,
.container-iconeT:hover {
	cursor: pointer;
}

#close-modal {
	width: 24px;
	position: absolute;
	top: 26px;
	right: 30px;
	background-color: transparent;
	border: none;
}

#previous {
	display: none;
	width: 24px;
	position: absolute;
	top: 26px;
	left: 30px;
	background-color: transparent;
	border: none;
}

.close-icone:hover,
:active {
	cursor: pointer;
}

.project-form {
	display: flex;
	flex-direction: column;
	width: 420px;
}

.project-form input,
.project-form select {
	height: 51px;
	border: none;
	filter: drop-shadow(0 4px 14px rgb(0, 0, 0, 9%));
	cursor: pointer;
	padding: 0 15px;
}

.project-form label {
	font-size: 14px;
	text-align: left;
	padding-bottom: 10px;
	margin-top: 21px;
}

.container-img label {
	text-align: center;
}

.container-img {
	height: 169px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 3px;
	padding: 22px 0;
	background-color: #e8f1f6;
}

.btn-add-img {
	font-family: 'Syne';
	width: 173px;
	padding: 10px 0;
	text-align: center;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	color: #306685;
	background-color: #cbd6dc;
}
.btn-add-img:hover,
.btn-add-img:active {
	cursor: pointer;
	color: #ffff;
	background-color: #306685;
}

.container-img span {
	color: #444444;
	font-size: 10px;
}

/* Footer */
footer {
	width: 100%;
	height: 60px;
	right: 0;
	bottom: 0;
	background-color: #ffff;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 24px 92px 24px 0;
}

footer ul li {
	font-size: 14px;
	font-weight: light;
}

.alert {
	text-align: center;
	color: #000000;
}

.btn-container {
	display: flex;
	justify-content: center;
}

.btn-confirm-delete,
.btn-no {
	font-family: 'Syne';
	width: 48px;
	background-color: transparent;
	padding: 10px 15px;
	margin: 25px 15px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.btn-confirm-delete {
	color: var(--alert);
	border: 1px solid var(--alert);
}

.btn-no {
	color: var(--green-dark);
	border: 1px solid var(--green-dark);
}

.btn-confirm-delete:hover,
.btn-confirm-delete:active {
	background-color: var(--alert);
	border: 1px solid transparent;
	color: white;
}

.btn-no:hover,
.btn-no:active {
	background-color: var(--green-dark);
	border: 1px solid transparent;
	color: white;
}

.preview-img {
	width: 100%;
	/* max-width: 420px; */
	height: 100%;
	object-fit: contain;
	/* z-index: 5;
	position: fixed;
	top: 25%; */
}
